.testclass {
  margin-left: 100px;
}

.box {
  margin-left: 30px;
}

.isOrange {
  --progress-background: #d6660b;
}

.isDarkOrange {
  --progress-background: #d63a0b;
}

.isRed {
  --progress-background: #e00e0e;
}

ion-progress-bar {
  --progress-background: #e7b837;
  padding: 12px;
  border-radius: 7px;
  height: 28px;
}

.button-icon {
  color: #8bd557;
}

ion-card {
  width: 100%;
  margin: 2px;
}

.iten-no-padding > * {
  padding: 0 !important;
}

.item-native {
  --padding: 0 !important;
}

.progressbarContainer {
  align-self: center;
}

.timeDisplayContainer {
  width: fit-content;
  border-left: 30px;
  background-color: #ebebeb;
  border-left: 7px solid #ebebeb;
  border-right: 7px solid #ebebeb;
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
  border-radius: 7px;
}

ion-item {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
}

.button-icon {
  color: #3b432b;
}
.live {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, 50%);
}
.playTitle {
  font-weight: lighter;
  font-size: large;
  font-style: italic;
}
.cards {
  margin-top: 30px;
}

.notPlaying {
  opacity: 60%;
  box-shadow: rgb(66 66 66 / 19%) 0px 4px 23px;
  margin-bottom: 20px;
}

.isPlaying {
  opacity: 100%;
  box-shadow: rgb(66 66 66 / 19%) 0px 4px 23px;
  margin-bottom: 20px;
}

.time-bar{
  box-shadow: rgb(66 66 66 / 19%) 0px 4px 23px;
  margin-bottom: 20px;
}
