 .h2 {
     font-weight: bold;
     font-size: 20px;
     padding-left: 18px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .centeredLoader {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
 }

 .startButton {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 .label{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10%;
 }
 .nextDiscussions{
     margin-left: 5%;
 }
