
/* General Css for the Diva-E Book Club App

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../../fonts/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/open-sans-v34-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v34-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/** Ionic CSS Variables **/
:root {
  /* Set the background of the entire app */
  --ion-background-color: #f9f9f9;
  /**button color**/
  --ion-color-primary: #3b432b;
  --ion-color-primary-rgb: 59, 67, 43;
  /**button font color**/
  --ion-color-primary-contrast: #ffffffbe;
  --ion-color-primary-contrast-rgb: 255, 255, 190;
  /**button shade color**/
  --ion-color-primary-shade: #5d6944;
  --ion-color-primary-tint: #a5a52d;
}

:root {
  --ion-color-favorite: #D9D9D9;
  --ion-color-favorite-rgb: 255, 255, 190;
  --ion-color-favorite-contrast: #5d6944;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #5d6944;
  --ion-color-favorite-tint: #3b432b;
    --ion-color-favorite-danger: #ff4961;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
    --ion-color-danger: var(--ion-color-favorite-danger);
}

*{
  font-family: 'Open Sans';
}

ion-label{
  font-family: 'Open Sans' !important;
}

.font-center{
  text-align: center;
}

.divider {
  height: 30px;
}

.divider-small {
  height: 15px;
}

.cancel-button {
  --background: #e6e6e6;
  --color: #808080;
}

.delete-button {
  --background: #b81313;
  --color: #ffffff;
}
.item-native{
  padding:0 !important;
}

.playButton{
  float:left;
}

.playTitle{
  margin-left:10px;
  display: inline;
  line-height: 34px;

}

.timeDisplay{
  padding-left:10px;
}

ion-searchbar.custom {
  --background: #e3e3e3;
  --color: rgb(0, 0, 0);
  --border-radius: 15px;
  --box-shadow: 0;
}

*{
  box-sizing: border-box;
}
