.agendaTitle {
    font-size: 30px !important;
    margin-bottom: 50%;

}
.agendaDate{
    flex-direction: column;
    margin-right: 20px;
}

#date{
font-weight: bold;
}

.liveButton{
position: absolute;
right: 30px;
margin-top: 40px;
}
.edit{
    position: absolute;
    margin-top: 40px;
}
.parent{
    position: relative;
}
.inputFields{
    margin-top: 10px;
}
