.agendaTitleDiv {
  padding-left: 0;
}

.agendaDate {
  text-align: right;
  flex-direction: column;
  margin-top: 30px !important;
}

#date {
  font-weight: bold;
}

.liveButton {
  position: absolute;
  right: 30px;
  margin-top: 40px;
}
.edit {
  position: absolute;
  margin-top: 40px;
}
.parent {
  position: relative;
}
.inputFields {
  margin-top: 10px;
}
