.clubNameHome {
  color: black;
  font-weight: bold;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Merriweather' !important;
}

.swiper-pagination {
  margin-top: 15px !important;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background: #3b432b !important;
}

.bookTitleHome {
  color: black;
}

.flexStartClubCard {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.verticalSpacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.flexbox {
  align-self: center;
}

.flexIcon {
  align-self: center;
  min-width: 26px;
  max-width: 26px;
}

.clubCardBookCover {
  max-width: 110px;
  filter: drop-shadow(0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.65));
}

.card {
  height: 200px;
}

ion-img::part(image) {
  max-height: 120px;
}

@media screen and (min-width: 769px) {
  ion-img::part(image) {
    max-height: 170px;
  }
}

.columnClubCardHome {
  height: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  padding-right: 10px;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-columnHome {
  padding-top: 10px;
  padding-bottom: 10px;
}
