.clubName {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexStartClubCard {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.verticalSpacing {
  padding-top: 5px;
  padding-bottom: 5px;
}

.flexbox {
  align-self: center;
}

.flexIcon {
  align-self: center;
  min-width: 26px;
  max-width: 26px;
}

.clubCardBookCover {
  max-width: 110px;
  filter: drop-shadow(0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.65));
}

.columnClubCard {
  overflow: hidden;
  padding-right: 10px;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-column {
  padding-top: 10px;
  padding-bottom: 5px;
  min-height: 8rem;
}
