.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.flexStartFull {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.flexboxFull {
    align-self: center;
    flex-grow: 1;
}

.linkIcon {
    text-align: center;
    align-self: center;
    border: 1px solid #0d0d0d;
    border-radius: 15px;
    padding-top: 7px;
    padding-bottom: 4px;
    min-width: 51px;
}

.title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spacing {
    width: 10px;
}

.link {
    font-size: 14px;
    color: grey;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}