.registerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerForm {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 380px;
}

.registerLogo {
  width: 100%;
}

.hideRegisterLogo {
  height: 0;
}

.registerLogoSkeleton {
  margin-top: 20px;
  align-self: center;
  width: 220px;
  height: 105px;
  border-radius: 38px;
}

#logInRouter {
  color: var(--ion-color-favorite);
}
