.hidden-border {
  box-shadow: none !important;
}

.large-icon {
  font-size: 28px;
}

.chipIsMember {
  width: 98px;
  --background: var(--ion-color-primary);
  --color: #ffffff;
}

.chipIsNotMember {
  width: 98px;
}

.clubMembersSpacing {
  text-align: center;
  min-width: 38px;
}

.chipSpinnerClubs {
  width: 49px;
  height: 40px;
}

.column {
  padding-right: 10px;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-column {
  padding-top: 10px;
  padding-bottom: 5px;
  min-height: 8rem;
}

.bookCover {
  max-width: 110px;
  filter: drop-shadow(0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.65));
}

.BookTitleOnClub{
  font-family: 'Merriweather' !important;
  font-weight: bold;
  font-size: 24px;
}


