.flexVertical {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentImage {
    max-width: 60px;
    filter: drop-shadow(0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.65));
}

.rowHeight {
    height: 150px;
}