.deletePhoto {
  position: absolute;
  right: 1%;
  top: 1%;
  margin: auto;
  --border-radius: 50%;
  width: 50px;
  height: 50px;
}

.wrapPhoto {
  display: inline-block;
  position: relative;
}

.spacing {
  width: 10px;
}

.username {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.passage {
  font-size: 14px;
  color: grey;
  font-weight: bold;
}

ion-col {
  --ion-grid-column-padding: 0px;
}
